html body #app{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.el-dialog{
    width: 85%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

/* 页面顶部  白字  字体居中 title */
.title {
    position: relative;
    width: 100%;
    font-size: 21px;
    text-align: center;
    color: #fff;
    background-color: #317efc;
    line-height: 50px;
}
/* 卡片框 */
.contain {
    width: 95%;
    border: 1px solid #f8f8f8;
    border-radius: 8px;
    margin: 15px auto 0;
    background-color: #fff;
    padding-bottom: 15px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(180, 180, 180, 0.3);
}