@charset 'utf-8';
@import '_config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100vh;
    font-size: $font-size;

    body, #app {
        height: 100vh;
        background-color: $light-color;
        font-family: $font-stack;
        line-height: 1.6;
    }
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
